@page "/kingdom"

@using System;

<div class="row">
    <div class="col-8">
        <h1>Nature Guide - Species by $KingdomName$</h1>
    </div>

    <div class="col-4">
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</div>

<div class="container">
    <div class="row jumbotron">
        <div class="row col-12">
            <h5 class="mt-0">Select $SelectorName</h5>  
        </div>
        <div class="row col-12">
            <div class="col-2"><h1><i class="fas fa-fan"></i></h1>Red</div>
            <div class="col-2"><h1><i class="fas fa-fan"></i></h1>Yellow</div>
            <div class="col-2"><h1><i class="fas fa-fan"></i></h1>Green</div>
            <div class="col-2"><h1><i class="fas fa-fan"></i></h1>Blue</div>
            <div class="col-2"><h1><i class="fas fa-fan"></i></h1>Purple</div>
            <div class="col-2"><h1><i class="fas fa-fan"></i></h1>Pink</div>
            <div class="col-2"><h1><i class="fas fa-fan"></i></h1>White</div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row jumbotron">
        <div class="row col-12">
            <h5 class="mt-0">Select $SelectorName</h5>
        </div>
        <div class="row col-12">
            <div class="col-2"><h1><i class="fas fa-dog"></i></h1>Dog</div>
            <div class="col-2"><h1><i class="fas fa-cat"></i></h1>Cat</div>
            <div class="col-2"><h1><i class="fas fa-cat"></i></h1>Cattle</div>
            <div class="col-2"><h1><i class="fas fa-dog"></i></h1>Bat</div>
            <div class="col-2"><h1><i class="fas fa-horse"></i></h1>Horse</div>
            <div class="col-2"><h1><i class="fas fa-horse"></i></h1>Rodent</div>
        </div>
    </div>
</div>

<div class="container">
    
        <div class="row col-12">
            <h3 class="mt-0">Species Identified</h3>
        </div>

        <div class="row">
            <div class="col-sm jumbotron mx-1">
                <div class="media">
                    <img class="mr-3" src="/Images/NatureMapLichen.png" asp-append-version="true" width="80px" />
                    <div class="media-body">
                        <h5 class="mt-0">Species Name</h5>
                        <p>Species Intro</p>
                    </div>
                </div>
            </div>

            <div class="col-sm jumbotron mx-1">
                <div class="media">
                    <img class="mr-3" src="/Images/NatureMapLichen.png" asp-append-version="true" width="80px" />
                    <div class="media-body">
                        <h5 class="mt-0">Species Name</h5>
                        <p>Species Intro</p>
                    </div>
                </div>
            </div>

            <div class="col-sm jumbotron mx-1">
                <div class="media">
                    <img class="mr-3" src="/Images/NatureMapLichen.png" asp-append-version="true" width="80px" />
                    <div class="media-body">
                        <h5 class="mt-0">Species Name</h5>
                        <p>Species Intro</p>
                    </div>
                </div>
            </div>

            <div class="col-sm jumbotron mx-1">
                <div class="media">
                    <img class="mr-3" src="/Images/NatureMapLichen.png" asp-append-version="true" width="80px" />
                    <div class="media-body">
                        <h5 class="mt-0">Species Name</h5>
                        <p>Species Intro</p>
                    </div>
                </div>
            </div>
        </div>

</div>